/* This file allows you to override default styles in one central location for easier upgrade and maintenance. */


/* ---------- Imports ---------- */

@import url(color_schemes/borderless.css);

@import url(color_schemes/blue.css);

@import "compass";


/* ---------- Base ---------- */


body {
	font-size: 12px;
}

body.stars {
	background: #000 url(@theme_image_path@/custom/body_bg.jpg);
}

body.white {
	background: #FFF;
}

a {
	color: #89ACF4;
	font-weight: bold;
	text-decoration: none;
}

.clear {
	clear: both;
}


/* ---------- Wrapper ---------- */

#wrapper {
	color: #FFF;
	margin: 0 auto;
	padding: 5px;
	width: 1080px;
	
	h2 {
		color: #FFF;
		font-size: 32px;
		margin: 0 0 .5em;
	}
}


/* ---------- Banner ---------- */

#banner {
	position: relative;
}

#heading {
	float: left;
	text-align: center;
	width: 20%;
}

#heading h1 {
	margin: 0;
}

#heading h1 a {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	background: #597CC4 url(@theme_image_path@/custom/gradient_bg.png) repeat-x left bottom;
	border: 1px solid #597CC4;
	border-radius: 5px;
	color: #FFF;
	display: block;
	height: 80px;
	line-height: 80px;
	margin: 5px;
	text-transform: uppercase;
		@include border-radius(5px, 5px);
}

.ie6 #heading h1 a {
	background: #597CC4;
}

.ie6 #heading h1 a img {
	margin-top: 7px;
}

#heading h1 a:hover {
	background-color: #B1B7D3;
}

#heading h1 a img {
	vertical-align: middle;
}

#heading .page-title {
	display: none;
}



/* ---------- Dockbar ---------- */


#sign-in {
	display: block;
	padding-right: 5px;
	text-align: right;
}


/* ---------- Navigation ---------- */


#navigation {
	float:left;
	width: 80%;
}

#navigation h1 {
	display: none;
}

#navigation ul {
	margin: 0;
}

#navigation li {
	display: inline-block;
	float: left;
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: center;
	width: 25%;
}



#navigation li a {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	background: #222 url(@theme_image_path@/custom/gradient_bg.png) repeat-x left bottom;
	border: 1px solid #333;
	border-radius: 5px;
	color: #FFF;
	display: block;
	line-height: 80px;
	margin: 5px;
	text-transform: uppercase;
		@include border-radius(5px, 5px);
}

.ie6 #navigation li a {
	background: #222;
}

.ie6 #navigation li {
	margin-left: expression(this.previousSibling==null?'10%':'0');
}


#navigation li.selected a:hover,
#navigation li.selected a {
	background-color: #597CC4;
	border-color: #597CC4;
	color: #FFF;
}

#navigation li a:hover {
	background-color: #000;
	color: #FFF;
}

#navigation li a span {
	font: {
		size: 16px;
		weight: bold;
	}
	text-shadow: 1px 1px 1px #AAA;
}

#navigation li a:hover span {
	text-shadow: 1px 1px 1px #C8C8C8;
}

#navigation li.selected a {
	span,
	&:hover span {
		text-shadow: 1px 1px 1px #AAA;
	}
}

#navigation ul.child-menu {
	display: none;
}


/* ---------- Content ---------- */


#content {
	margin-top: 5px;
}

#content .columns-max {
	padding: 0 5px;
}


/* ---------- Portlet ---------- */


.portlet {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	background: #222 url(@theme_image_path@/custom/gradient_bg.png) repeat-x left bottom;
	border: 1px solid #333;
	border-radius: 5px;
	padding: 10px 15px;
		@include border-radius(5px, 5px);
}

.portlet .portlet-title img {
	display: none;
}

.portlet .portlet-title .portlet-title-text {
	font-size: 18px;
	text-shadow: 1px 1px 1px #AAA;
	text-transform: uppercase;
}

.portlet-body {
	margin: 0 5px 10px;
}

.portlet-layout .portlet-body {
	margin: 0 0 10px;
}

.portlet-layout .portlet {
	min-height: 175px;
	padding: 15px;
}

.ie6 .portlet {
	background: #222;
}

.portlet-column-content.empty {
	padding: 0;
}

.portlet-column-content-only {
	padding: 0 5px;
}

.round-border {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 1px solid #222;
	border-radius: 5px;
	width: 100%;
		@include border-radius(5px, 5px);
}

.sub-nav .portlet {
	background-color: #214478;
	border-color: #315488;
}

.portlet-column {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	padding: 0 5px;
		@include border-radius(5px, 5px);
}

.portlet-column-content {
	padding: 0;
}

.lfr-panel-container,
.results-row td {
	color: #555;
}

.breadcrumbs-horizontal li {
	padding-right: 5px;
}


/* ---------- Tabs ---------- */

/* ---------- Footer ---------- */
#footer .icon {
	background: url(@theme_image_path@/custom/footer_social_icon_sprite.png);
	display: inline-block;
	height: 30px;
	vertical-align: middle;
	width: 30px;
}

#footer .icon.twitter {
	background-position: 0 -30px;
}

#footer .icon.linkedin {
	background-position: 0 -60px;
}

#footer {
	@extend .portlet;
	margin: 0 5px 5px;
	padding: 10px 5px;
}

.ie6 #footer {
	background: #222;
}

#footer .powered-by.footer-inset {
	float: left;
}

#footer .footer-inset {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	background: #222;
	border: 1px solid #444;
	border-radius: 5px;
	float: right;
	line-height: 50px;
	margin: 10px 5px;
	padding: 0 15px;
		@include border-radius(5px, 5px);
}


.firefox #footer .aui-field-content:after {
	display: inline-block;
}



#footer-nav {
	float: right;
	padding: 10px 10px 15px;
}

#footer-nav a {
	padding: 0 5px;
}


/* ---------- Viewport < 960 ---------- */

.aui-view-lt960 {
	#wrapper {
		width: 720px;

		#heading {
			float: none;
			width: auto;

			h1 a {
				height: 70px;
				line-height: 70px;
			}
		}

		#navigation {
			width: 100%;

			li a {
				line-height: 60px;
			}
		}
	}
}


/* ---------- Viewport < 720 ---------- */

.aui-view-lt720 {
	#wrapper {
		width: 480px;

		#heading,
		#navigation,
		#navigation li {
			display: block;
			float: none;
			width: auto;

			a {
				line-height: 50px;
			}
		}

		.portlet-column {
			display: block;
			width: auto;
		}
	}
}


/* ---------- Viewport < 480 ---------- */

.aui-view-lt480 #wrapper {
	width: 320px;
}


/* ---------- Viewport Hide ---------- */

.aui-view-960 .hide-960,
.aui-view-720 .hide-720,
.aui-view-480 .hide-480,
.aui-view-320 .hide-320 {
	display: none;
}
